---
import Layout from "../../../layouts/Layout.astro";
import { Code } from "astro:components";
import Markdown from "../../../components/Markdown.astro";
import Link from "../../../components/Link.astro";
import { formulae, type Formula } from "../../../formulae/server";

export interface Props {
  formula: Formula;
}

export function getStaticPaths() {
  return formulae.map((x: Formula) => {
    return {
      params: { formula: x.id },
      props: { formula: x },
    };
  });
}

const formula: Formula = Astro.props.formula;
---

<Layout title={formula.name + " - Homebrew Formulae"}>
  <h2 class="text-3xl font-bold">{formula.name}</h2>

  <section class="my-8"><Markdown md={formula.desc} inline /></section>

  <section class="my-8">
    <h3>Install command:</h3>
    <Code
      class="block w-fit text-left"
      code={`brew tap tsukinoko-kun/tap\nbrew install tsukinoko-kun/tap/${formula.id}`}
      lang="shell"
      theme="catppuccin-mocha"
      wrap
    />
  </section>

  {
    formula.bin.filter((x) => x !== formula.id).length ? (
      <section class="my-8">
        <h3 class="inline">Also known as:</h3>
        {formula.bin
          .filter((x) => x !== formula.id)
          .map((x) => (
            <span data-eq-id={formula.id === x}>{x}</span>
          ))}
      </section>
    ) : null
  }

  <section class="my-8">
    <Link href={formula.homepage}>{formula.homepage}</Link>
  </section>
  <section class="my-8">
    <h3 class="inline">Current version:</h3>
    {formula.version}
  </section>

  <section class="my-8">
    <h3>Platforms:</h3>
    {
      formula.platforms.map((platform) => (
        <>
          <h4 class="ml-4 mt-2">{platform.os}</h4>
          <ul class="list-disc">
            {platform.cpu.map((cpu) => (
              <li class="ml-8">{cpu}</li>
            ))}
          </ul>
        </>
      ))
    }
  </section>
</Layout>
